.form {
  color: azure;
  height: 50%;
  width: 50%;
}

.register-form {
  width: 60vh;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.registerHeader {
  color: rgb(26, 53, 92);
  margin-top: 20px;
}

.Textfield {
  margin-top: 40px;
}

.appbar {
  margin-bottom: 20px;
}

.content {
  padding: 20px;
}
